# SPDX-License-Identifier: GPL-2.0
menu "Profile Guided Optimization (PGO) (EXPERIMENTAL)"

config ARCH_SUPPORTS_PGO_CLANG
	bool

config PGO_CLANG
	bool "Enable clang's PGO-based kernel profiling"
	depends on DEBUG_FS
	depends on ARCH_SUPPORTS_PGO_CLANG
	help
	  This option enables clang's PGO (Profile Guided Optimization) based
	  code profiling to better optimize the kernel.

	  If unsure, say N.

	  Run a representative workload for your application on a kernel
	  compiled with this option and download the raw profile file from
	  /sys/kernel/debug/pgo/profraw. This file needs to be processed with
	  llvm-profdata. It may be merged with other collected raw profiles.

	  Copy the resulting profile file into the kernel source tree (or host
	  it) and rebuild the kernel with -fprofile-use to produce an optimized
	  binary.

	  This profiling capability comes with a significant runtime and memory
	  overhead. Only enable it for the collection stage. It is not intended
	  for production kernels.
endmenu
